apiVersion: v1
kind: Service
metadata:
  name: codebeamer-service
  namespace: codebeamer 
  annotations:
    service.beta.kubernetes.io/azure-load-balancer-internal: "true"
spec:
  type: LoadBalancer
  selector:
    app: codebeamer
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http